extends layout

block content
    h1 Task list
    a.btn.btn-primary(href='/task-list/add', role='button') Add new
    table.table.table-striped
        thead
            tr
                th Action
                th Task
                th Details
        tbody
            each task in tasks
                tr
                    td(style="width: 150px;")
                        a(href="/task-list/delete/#{task.id}", style="padding: 6px 10px")
                            span.glyphicon.glyphicon-ok
                        a(href="/task-list/edit/#{task.id}", style="padding: 6px 10px")
                            span.glyphicon.glyphicon-pencil
                        a(href="/task-list/delete/#{task.id}", style="padding: 6px 10px")
                            span.glyphicon.glyphicon-remove
                    td= task.task
                    td= task.details
